# Ignore all files
*

!.gitignore
!.gitconfig

!.tmux.conf

!.vimrc
!.vimrc.vundles

!.zshrc
!.zshenv
!.zshrc.org.zshrc
!.zshrc.paths.zshrc
!.zshrc.aliases.zshrc

!.homenix-sub/
!.homenix-sub/**

# Mac trash
**/.DS_Store
