# Ignore all files
*

# Add .gitignore
!.gitignore
!.vimrc
!.vimrc.vundles
!.bash_profile
!.fzf-key-bindings.zsh
!.zshrc
!.binds.zsh
!.homenix-sub/
!.homenix-sub/**
!.gitconfig
!.tmux.conf

# Mac trash
**/.DS_Store
