[Desktop Entry]
Version=1.0
Type=Application
Name=DataGrip
Icon=/home/sfnvm/ide/datagrip/bin/datagrip.svg
Exec="/home/sfnvm/ide/datagrip/bin/datagrip.sh" %f
Comment=IDE for Databases and SQL
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-datagrip
StartupNotify=true
